@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.btn {
    border: 1px solid transparent;
    border-radius: 66px;
}

.in {
    border: 2px solid black;
    padding-left: 15px;
    border-radius: 15px;
}

.btn2 {
    border: 1px solid black;
    border-radius: 8px;
}

.border {
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    background-color: #F9FAFB;
}

.sign{
    border-radius: 10px;
}

.coler{
    background-color: #E0F2FE;
}

.footer {
    background-color: #E0F2FE;
}

.b-r {
    border-radius: 50px;
    border: 1px solid transparent;
}

.cir{
    border-radius: 50%;
}

.home-btn{
    background-color: #0E7490;
    border: 1px solid transparent;
    border-radius: 10px;
}
.back {
    background-color: #0E7490;
}

.home-btn1{
    background-color: #E0F2FE;
    border: 1px solid transparent;
    border-radius: 10px;
}

.card {
    background-color: #d4d4d46f;
}

.chat {
    border-top: 2px solid black;
}

input:focus{
    outline: none;
}
